// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  width: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
  font-family: 'Lora', serif;
}
h1, h2{
  font-weight: 700;
  font-style: italic;
}
.jumbotron{
  color: white;
  background-image: url("./ship.jpeg");
  background-size: cover;
  h1{
    font-family: 'Courgette', cursive;
  }
}
#footer {
  padding-bottom: 5px;
  text-align: center;
}
